<!-- <p>view-recent works!</p> -->
<!-- <button ()>graph</button> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class = "container">
        <div class = "row">
            <div class = "col-md-12 mt-5 mb-5">
                <canvas  id = "myChart"></canvas>  
                <div style = "cursor: pointer;" class = " ml-1 mt-2 mb-2 btn btn-sm btn-secondary" (click)="goBack()">Go Back</div> 
            </div>
        </div>
    </div>  
</body>
</html>

